{% set pagename = page.fileSlug | replace('-', ' ') %}
<!Doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body id="#top">

    <div class="base">
      {% include 'header.njk' %}

      <main>
        {# If page given title it use it or otherwise uses page name. #}
        <h1>{{ title or pagename }}</h1>
        {% include 'post.njk' %}
        {{ content | safe }}

        {# Shows the post in home page. #}
        {% if page.url == '/' %}
          {% set postslist = collections.posts %}
          {% include 'postslist.njk' %}
        {% endif %}
      </main>

      {% include 'footer.njk' %}

    </div>

  </body>

</html>
