{% set pagename = page.fileSlug | replace('-', ' ') %}
<!Doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body id="#top">

    <div style="
      max-width: 40em;
      height: 95vh;
      margin: auto;
      padding: 1em;
    ">
      {% include 'header.njk' %}

      <main>
        {# If page given title it use it or otherwise uses page name. #}
        <h1>{{ title or pagename }}</h1>
        {# Only shows when post in page. #}
        {% if tags[0] == "posts" %}
          {% include 'post.njk' %}
        {% endif %}

        <figure style="
            border: 1px solid var(--link-color);
            padding: 1em;
            width: 20em;
            font-weight: bolder;
            margin-bottom: 1em;
          ">
          <figcaption>Table of Content</figcaption>
          {{ content | toc | safe }}
        </figure>

        {{ content | safe }}

        {# Shows the post in home page. #}
        {% if page.url == '/' %}
          {% set postslist = collections.posts %}
          {% include 'postslist.njk' %}
        {% endif %}
      </main>

      {% include 'footer.njk' %}

    </div>

  </body>

</html>
