<p class="go-to-the-top"><a href="#top">Go to the Top</a></p>
<footer>
  <hr />
  <p>
    Written by {{ manifest.author }} | Theme: <a href="https://github.com/AnzenKodo/io-notes">1MBT</a> made by <a href="https://anzenkodo.github.io/AnzenKodo">AnzenKodo</a></p>
</footer>
