<p style="text-align: right"><a href="#top">Go to the Top</a></p>
<footer>
  <hr />
  <p>
    Written & Made by <a href="https://anzenkodo.github.io/AnzenKodo">@{{ manifest.author }}</a>
    © 2021 under <a href="https://anzenkodo.github.io/AnzenKodo">CC-BY</a>
    | Theme: <a href="https://github.com/AnzenKodo/io-notes">Tanjun</a>
  </p>
</footer>
{% set font = manifest.font | replace(' ', '+') %}
<div style="
  display: none
  ">{% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family={{ font }}&display=swap' %}</div>
