<header>
	<p class="header--title">{{ manifest.name }}</p>
	<p class="header--nav">
		<a href="/">home</a>
		{% for nav in collections.nav %}
			<a href="{{ nav.url }}">{{ nav.fileSlug}}</a>
		{% endfor %}
	</p>
</header>
