{# Shows the date & time on post section. #}
<p class="meta">
		Date: {{ post.date | readableDate }} |
		Reading Time:
			{% if tags[0] == 'posts'%}
				{% readingTime content %}
			{% else %}
				{% readingTime post.data.content %}
			{% endif %} |
			Tags:

			{% if tags[0] == 'posts' %}
				{% set list = tags %}
			{% else %}
				{% set list = post.data.tags %}
			{% endif %}

			{%- for tag in list | filterTagList -%}
				 {%- set tagUrl %}{{ tag | slug }}/{% endset -%}
				 <a href="/{{ tagUrl | url }}">{{ tag }}</a>&nbsp;
			 {%- endfor %}
</p>
