<ul>
	{% for post in postslist %}
		{% set postname = post.fileSlug | replace('-', ' ') %}
		<li class="title">
			<a href="{{ post.url }}">
				{{ postname }}
			</a>
			{% include 'postmeta.njk' %}
		</li>
		{% endfor %}
</ul>
