{# Shows the date & time on post section. #}
<p style="
	font-weight: 200;
	">Date: {{ page.date | readableDate }} |
	Read Time: {{ content | readingTime }} |
	Tags:
	 {%- for tag in tags | filterTagList -%}
		 {%- set tagUrl %}{{ tag | slug }}/{% endset -%}
		 <a href="{{ tagUrl | url }}">{{ tag }}</a>&nbsp;
	 {%- endfor %}
</p>


