{# Only shows when post in page. #}
{% if tags[0] == "posts" %}
	{% set post = page %}
	{% include 'postmeta.njk' %}
	<figure class="table-of-content">
		<figcaption class="table-of-content--title">Table of Content</figcaption>
		{{ content | toc | safe }}
	</figure>
{% endif %}
