<form action="https://duckduckgo.com/">
  <input type="text" name="q" style="
    all: unset;
    background: var(--font-color);
    padding: .4em;
  ">
  <input type="hidden" name="sites" value="{{ manifest.start_url }}">
  <button type="submit" style="
    all: unset;
    background: var(--link-color);
    padding: .5em;
    ">Search</button>
</form>
<p><strong>Note:</strong> This will search on <a href="https://duckduckgo.com/about">DuckDuckGo</a></p>
