---
"permalink": "feed.xml"
"layout": ""
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ manifest.name }}</title>
  <subtitle>{{ manifest.description }}</subtitle>
  <link href="{{ manifest.start_url }}feed.xml" rel="self"/>
  <link href="{{ manifest.start_url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>/</id>
  <author>
    <name>{{ manifest.name }}</name>
    <email>{{ manifest.email }}</email>
  </author>
  {%- for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(manifest.start_url) }}{% endset %}
  <entry>
    <title>{{ post.data.page.fileSlug | replace('-', ' ') }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
