name: Eleventy Build
on: [push]

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 'lts/*'
      - run: npm install
      - run: npm ci
      - run: npm run build
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@main
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
