name: Eleventy Build
on: [push]

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 'lts/*'
      - run: npm install
      - run: npm ci
      - run: npm run build
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          PUBLISH_DIR: public
          PUBLISH_BRANCH: gh-pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
